#header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 4rem;
  margin-top: 2rem;


  & div:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  & div:last-child {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}