// COLORS
$body-color: rgb(52, 63, 82);
$paragraph-color: rgb(96, 105, 123);
$paragraph-color-2: rgb(202, 202, 202);

$color-primary: blue;
$color-secondary: #595c5f;
$color-danger: #db3545;
$color-warning: #fdc007;
$color-success: #198654;
$color-info: #a8aeba;
$color-light: #f6f7f8;
$color-dark: #212529;


// FONT
$default-font-size: 1.6rem;