.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;

  &__logo {
    display: flex;
    width: 2.2rem;
    border-radius: 1rem;
  }

  &__ul {
    display: flex;
    align-items: center;

    & .navbar__item:first-child {
      margin-left: 0;
    }

    & .navbar__item:last-child {
      margin-right: 0;
    }
  }

  &__item {
    margin: 0 1.5rem;
    list-style: none;
  }

  &__link {
    color: $color-dark;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;

    transition: all .5s;

    &:hover {
      color: $color-primary;
    }
  }
}